@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}
/*header*/
header {
    font-family: 'Montserrat', sans-serif;
    color: rgba(146,146,146,1.00);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    background-color: hsla(357,73%,40%,1.00);
}
/* Logo placeholder*/
#name {
    font-weight: bold;
    font-style: normal;
    font-family: "Source Sans Pro";
    text-align: center;
    color: rgba(0,0,0,1);
    letter-spacing: 2px;
    left: auto;
    font-size: xx-large;
    background-position: 0% 0%;
}
 * {
    margin: 0px;/*设置一个元素所有外边距的宽度*/
    padding: 0px;/*设置元素所有内边距的宽度*/
    text-align: left;/*规定元素中的文本的水平对齐方式。*/
        }
#wd   {
    margin-top: 50px;
}

#con div img {
    float: left;
}

        #banner {
    width: 62.5%;
    height: 50%;
    margin-top: px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: px;
    position: relative; /*相对定位,相对于.btn按钮*/
    text-align: left;
        }
        .pic image {
            display: block; /*默认有图片不显示*/
            width: 50%;
            height: 50%;
            position: relative; /*相对定位.对应的是.pic这个div*/
            top: 0px;
            left: 0px;
        }
        .pic a {
            display: none;

        }
        .pic { /*专门显现图片区*/
    position: relative; /*相对定位.对应.pic img*/
    border: 1px solid red;
    margin-top: 20px;
        }
        .btn {
            width: 50%;
            height: 5%;
            position: absolute; /*绝对定位相对于banner div*/
            bottom: 5px;
            right: 5px;
        }
        .btn ul li {
            background-color: #000000; /*黑色*/
            color: #ffffff;
            list-style-type: none;
            width: 18px;
            height: 18px;
            float: left;
            border-radius: 9px; /*变成圆的*/
            text-align: center;
            line-height: 18px;
            cursor: pointer; /*鼠标移动变手指状态*/
            margin-left: 5px;
        }
        .btn ul li.one {
            background-color: #ff9966;
        }

/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
/* Sidebar */
#content .sidebar {
    font-family: 'Montserrat', sans-serif;
    color: rgba(146,146,146,1.00);
    float: left;
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: hsla(357,73%,40%,1.00);
    padding-top: 36px;
    height: 1500px;
    background-size: 220px auto;
    overflow-y: scroll;
    text-align: center;
}
/* main content of the site */
#content .mainContent {
    float: left;
    width: 70%;
    padding-left: 4%;
    height: 820px;
    text-align: center;
}
/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
    color: rgba(146,146,146,1.00);
    position: relative;
    left: 0%;
    text-align: center;
}
/* Whole page content */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
/*menu elements */
.menu ul li {
    list-style-type: none;
    font-size: x-large;
    position: relative;
    left: -35px;
    padding-top: 12px;
    text-align: center;
}

/* Prices of a products in catalog */
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	white-space: pre-wrap;
}
/* Buy button for products in catalog */

/* footer */
#mainWrapper footer {
    clear: both;
    overflow: auto;
    background-color: #8B5050;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 1.8;
    padding-top: 22px;
    padding-left: 22px;
    text-align: center;
    padding-bottom: 22px;
    padding-right: 22px;
}
/*Each footer content */

.sidebar #menubar .menu ul li a {
    color: rgba(0,0,0,1.00);
    text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
    color: rgba(242,143,10,1.00);
    text-decoration: none;
    text-align: center;
}
/* Menu headings in sidebar */
#menubar .menu h2 {
    font-size: 25px;
    color: hsla(0,0%,0%,1.00);
    text-align: center;
    font-style: inherit;
    font-weight: 900;
    font-family: "楷体";
}
/*Links under menus in sidebar */
#menubar .menu ul li a {
	font-size: 14px;
}
/* Menus in sidebar */
.sidebar #menubar .menu {
    margin-bottom: 29px;
}
#mainWrapper #content .mainContent {
    background-color: hsla(0,0%,100%,1.00);
    height: auto;
}
#content .mainContent #content {
    margin-left: 0px;
    margin-right: 10px;
    height: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
introduction   {
}
header #name #toindex {
    width: 80px;
    font-family: "楷体";
    font-style: normal;
    font-size: medium;
    height: 20px;
    border-width: medium;
    border-style: solid;
    float: left;
    background-color: hsla(37,90%,48%,1.00);
    text-align: center;
    background-position: 50px 50%;
}
#content .mainContent #txt {
    width: 95%;
    font-family: "楷体";
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-size: large;
    height: auto;
    text-align: left;
}
#content .mainContent #con {
    font-family: "楷体";
    font-weight: 900;
    font-size: large;
    text-align: left;
    margin-top: 20px;
}









/* Media query for tablets */
@media screen and (max-width:700px) {
/* sidebar */
#content .sidebar {
	float: none;
	width: 100%;
	height: auto;
	overflow: auto;
	padding-left: 12%;
	padding-top: 0px;
}
/* horizontal separators in sidebar */
#content .sidebar hr {
	display: none;
}

/*The sidebar and maincontent of page */
#content {
	position: relative;
	top: -22px;
	width: 100%;
	overflow: hidden;
}
#mainWrapper #content .mainContent {
    background-color: hsla(0,0%,100%,1.00);
}


/*menu headings in sidebar */
#menubar .menu h2 {
	display: inline;
	font-size: medium;
	padding-right: 6%;
}
/* Unordered List of links */
#menubar .menu ul {
	display: inline;
}
/*list elements */
#menubar .menu ul li {
	display: inline;
	font-size: medium;
	padding-left: 0%;
	padding-right: 3%;
}
/*The link to be hidden in tablet view */
.sidebar #menubar .menu ul .notimp {
	display: none;
}
/* menus in sidebar */
.sidebar #menubar .menu {
	width: 100%;
	text-align: center;
	position: relative;
	top: 16px;
}
/*menubar in sidebar */
#content .sidebar #menubar {
	position: relative;
	left: -7%;
	overflow: hidden;
	width: 95%;
	padding-top: 0px;
}
/* offer banners content */
#mainWrapper #offer p {
	font-size: small;
}
/* main content region of page */
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
/* Prices of products in catalog view */
.productRow .productInfo .price {
	font-size: 19px;
}
/* Content holders in catalog view */
.productRow .productInfo .productContent {
	font-size: 16px;
}
/* Buy buttons in catalog view */
.productRow .productInfo .buyButton {
	font-size: 15px;
}
/* Container for links in footer */
#mainWrapper footer .footerlinks {
	float: none;
	width: 100%;
	position: relative;
	top: 17px;
	clear: both;
	text-align: center;
	left: 0%;
	padding-bottom: 19px;
}
/* Container for each footer divisions */
#mainWrapper footer div {
	width: 44%;
	text-align: justify;
	font-size: 15px;
}
/* Links in footer */
.footerlinks p a {
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
	padding-right: 35px;
}
/* Footer region */
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}
/* Links in header */
header #headerLinks a {
	padding-left: 0px;
	padding-right: 30px;
}
/* Offer- Text banner */
#mainWrapper #offer {
	padding-left: 22%;
}
/* Paragraphs in footer */
footer .footerlinks p {
	display: inline;
}

}

/*media query for small screen devices */
@media screen and (max-width:480px) {
/*Container for links in header */
#mainWrapper header #headerLinks {
	width: 100%;
	text-align: center;
	background-color: rgba(190,190,190,1.00);
	padding-bottom: 21px;
}
/* Logo placeholder*/
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}
/* Links in header */
header #headerLinks a {
	text-align: center;
	padding-right: 15px;
	padding-left: 0px;
}
/*Offer - Text Banner */
#mainWrapper #offer {
	padding-left: 0px;
	text-align: center;
}
/* Menubar in sidebar */
#content .sidebar #menubar {
	position: relative;
	left: -8%;
	text-align: center;
}
/*Menu headings in sidebar */
#menubar .menu h2 {
	width: 100%;
	display: block;
}
/* Each product in catalog view */
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}
#mainWrapper footer div {
	width: 100%;
	margin-left: -16px;
	text-align: justify;
	padding-bottom: 16px;
	overflow: auto;
}
/* Unordered list for menu elements */
.menu ul {
	position: relative;
	padding-left: 24%;
}
/* Container for links in footer */
#mainWrapper footer .footerlinks {
	padding-left: 8%;
}

}
